#top-container {
    background-color: #eaeaea;
    width:100%;
    height:5%;
    /*position:fixed;*/
    top:0;
    left:0;
    z-index:100;
    user-select:none;
}

#logo-wrapper{
    position:relative;
    float:left;
    height:80%;
    width:auto;
    display:inline-block;
    top:50%;
    transform:translateY(-50%);
    margin-right:2%;
    margin-left:1%;

}

.top-menu-logo{
    height:100%;
    position:relative;
    float:left;
}
.top-menu-img{
    height:100%;
    position:relative;
    float:left;
    -webkit-transition: transform 200ms;
    -moz-transition: transform 200ms;
    -ms-transition: transform 200ms;
    -o-transition: transform 200ms;
    transition: transform 200ms;
}

.top-menu-img:hover{
    transform:scale(1.2);
    cursor:pointer;
}

.button-wrapper{
    position:relative;
    float:left;
    height:60%;
    width:auto;
    display:inline-block;
    top:50%;
    transform:translateY(-50%);
    margin:0 0.3%;
}
#input-load{
    display:none;
}


#minusP-wrapper{
    margin-left:5%;
    height:40%;
}
#plusP-wrapper{
    height:40%;
    margin-right:5%;
}
.player-number-wrapper{
    margin:0;
    cursor:default;
}

.player{
    position: relative;
    /*float:center;*/
    width: auto;
    height: 120%;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}

#player-number{
    position:absolute;
    font-size: 0.9em;
    text-align: center;
    font-family: Arial Black, serif;
    color: #fbfffb;
    left:50%;
    top:85%;
    transform: translateX(-50%) translateY(-50%);
    backface-visibility: hidden;
}

.tooltip{
    visibility: hidden;
    font-size:1em;
    white-space:nowrap;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(100%);
    background-color: #ffffcc;
    color: black;
    text-align:center;
    padding: 5px;
    position:absolute;
    z-index: 200;
    opacity:0;
    transition: opacity 300ms linear;
    transition-delay:700ms;
    backface-visibility: hidden;
    border: 1px solid black;
}

.button-wrapper:hover .tooltip{
    visibility:visible;
    opacity:1;
}

#random-payoffs-wrapper{
    margin-left:5%;
}

#strat-form-button{
    margin-left:10%;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    border: 1px solid #555;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 14px/100% Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius:0.5em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#strat-form-button:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e0e0e0));
    color:black;
}

#info-button-wrapper{
    float: right;

}

#settings-button-wrapper{
    float: right;
}

#video-button-wrapper{
    float:right;
    margin-right:5%;

}

.info-main-container{
    position: absolute;
    top:50%;
    left:50%;
    width: 60%;
    /*padding-bottom: 40%;*/
    background: #2f2f2f;
    display: none;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2000;
}

.info-main-container.show-container{
    display: block; !important
}

.close-info{
    position: absolute;
    top: 0.8%;
    right: 0.5%;
    width: 2.5%;
    padding-bottom: 2.5%;
    z-index: 100;
}

.close-info-img{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor:pointer;
}

.row{
    padding-bottom: 3.5%;
    width:100%;
    position: relative;
    float: left;
    background: white;
}

#title {
    background: #2f2f2f;
}

#title .section-text{
    color: ghostwhite;
}

#title .section-text .explain{
    color: white;
    font-weight: bolder;
}

.section-hotkey{
    position: absolute;
    left:2%;
    top:50%;
    transform: translateY(-57%);
    color: #777;
    display: inline-block;
    background: #eee;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    -moz-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    -webkit-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333, inset 1px 0 0 #ccc, inset -1px 0 0 #ccc;
    box-sizing: border-box;
    border-top: 1px solid #efefef;
    padding-bottom: 1.25%;
    font-family: 'Noto Sans', sans-serif;
    margin: 0 1px;
    padding-top: 11px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 2.5%;
}

.hotkey{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 0.9em;
    white-space: nowrap;

}

.section-text{
    position: absolute;
    left: 15%;
    width: 70%;
    padding-bottom:3%;
    /*background: black;*/
}

.explain{
    position: absolute;
    font-size: 0.9em;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    font-family: "Arial", sans-serif;
    color: #676767;

}

#delete .section-hotkey{
    width: 10%;
}

#zero-or-c .section-hotkey{
    width: 4%;
}

#one-four .section-hotkey{
    width: 3.5%;
}

#enter .section-hotkey{
    width: 6%;
}

#tab .section-hotkey{
    width: 4%;
}

#shift-tab .section-hotkey{
    width: 10%;
}
#esc .section-hotkey{
    width: 4%;
}
#alt-n .section-hotkey{
    width: 7%;
}
#alt-s .section-hotkey{
    width: 7%;
}
#alt-i .section-hotkey{
    width: 7%;
}
#ctrl-z .section-hotkey{
    width: 7%;
}
#ctrl-shift-z .section-hotkey{
    width: 13%;
}
#arrow-keys .section-hotkey{
    width: 7%;
}


.settings-menu-container{
    position: absolute;
    width: 15%;
    right:0%;
    top: 5%;
    transform: translateX(100%);
    transition: 500ms transform linear;
    background: #eaeaea;
}

.settings-menu-container.slide-in{
    transform: translateX(0%);
    transition: 500ms transform linear;
}


.range-slider-tree{
    margin: 3%;
    position: relative;
}

.range-slider-level{
    margin: 3%;
    position: relative;
}

.title{
    text-align: left;
    font-size: 0.9em;
    font-family: "Arial", sans-serif;
    color: #2f2f2f;
    position: relative;
    left: 4%;
}

.input-range {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
}
.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #353535;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.input-range::-webkit-slider-thumb:hover {
    background: #e06161;
}
.input-range:active::-webkit-slider-thumb {
    background: #e06161;
}
.input-range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    background: #353535;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.input-range::-moz-range-thumb:hover {
    background: #e06161;
}
.input-range:active::-moz-range-thumb {
    background: #e06161;
}

input {
    border: 0;
    background: #353535;
    width: 15%;
    color: #ccc;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}
